header.ant-layout-header {
  background: #ECEFF4;
  border-bottom: 1px solid #D8DEE9;
  display: flex;

  .logo {
    margin-right: 50px;

    img, h1 {
      display: inline;
    }

    img {
      position: relative;
      top: -7px;
      margin-right: 10px;
    }
  }

  .cart {
    display: block;
    margin-left: auto;
  }
}