header.ant-layout-header {
  height: 60px;
  background: #d5e9b0;
  border-bottom: 1px solid #D8DEE9;
  display: flex;
  padding: 0;

  .logo {
    margin-right: 400px;
    background-color: chocolate;

    h1 {
      position: absolute;
      left: 100px;
      top: 3px;
    }

    img {
      position: absolute;
      height: 180px;
      top: -59px;
      left: -50px;
    }
  }

  .cart {
    display: block;
    margin-left: auto;
  }
}