header.ant-layout-header {
  height: 60px;
  // background: #d5e9b0;
  // background: rgb(169, 204, 73);
  background-color: rgb(219, 218, 218);
  border-bottom: 1px solid #c7c8ca;
  display: flex;
  padding: 0;

  .logo {
    margin-right: 400px;
    background-color: chocolate;

    h1 {
      position: absolute;
      left: 100px;
      top: 3px;
    }

    img {
      position: absolute;
      height: 95px;
      top: -17px;
    }
  }

  .cart {
    display: block;
    margin-left: auto;
  }
}