.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// .App-header {
//   background-color: #d5e9b0;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

body {
  width: 100vw;
  min-height: 100%;
  display: block;
  position: relative;
  background-color: #eef3fc;
} 

.wrapper {
  max-width: 1250px;
  display: block;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #E5E9F0;
  border-left: 1px solid #D8DEE9;
  border-right: 1px solid #D8DEE9;
}

// ab hier schreib ich wieder meine Zeug!!!!!!!!

.hintergrund {
  background-color: #d5e9b0;
}

.geschichte {
  margin: 0 0 50px 0;
  background-color: beige;
  text-align: center;
  font-family: cursive;
  h1 {
    // position: relative;
    // top: 15px;
    font-size: 40pt;
  }
  p {
    font-size: 20pt;
  }
}

// Kannst du pls versuchen das Bild so hoch wie den Text zu machen
.nutzen {
  margin: 0 0 50px 0;
  background-color: beige;

  div {
    position: relative;
    right: -10px;
    text-align: center;
    font-family: cursive;
    width: 35%;
  }

  p {
    font-size: 18pt;
  }

  img {
    height: 370px;
    position: absolute;
    right: 0px;
  }
}

.produkt {
  margin: 0 0 50px 0;
  background-color: beige;

  div {
    position: relative;
    text-align: center;
    font-family: cursive;
    width: 35%;
    right: -710px;
  }

  p {
    font-size: 18pt;
  }

  img {
    height: 368px;
    position: absolute;
    // left: 0px;
  }
}

.wir {
  margin: 0 0 50px 0;
  background-color: beige;

  div {
    position: relative;
    right: -10px;
    text-align: center;
    font-family: cursive;
    width: 35%;
  }

  p {
    font-size: 18pt;
  }

  img {
    height: 333px;
    position: absolute;
    right: 0px;
  }
}